header {
    background-color: var(--couleur--projet-3);
    height: 100px;
    width: auto;
    border: 3px solid var(--couleur--projet-5);
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    padding: 0 10px;
}

.hamburger {
    width: 45px;
    height: 30px;
    fill: black;
}

.cross {
    width: 45px;
    height: 45px;
    fill: black;
}


.langue {
    position: absolute;
    top: 50px;
    right: 85px;
    text-decoration: underline; 
    font-size: 24px;
}