body {
    background-color: black;	
    background-attachment: fixed;
    background-size: cover;
}

pre {
    flex-direction: left;
    font-size : 20px;
    color: white;
    margin-top: -20px;
    margin-left: center;
    text-align: center;
    flex: center;
    
    }

pre-article {
    color: black;
}

pre-right {
    color: white;
}

.logo{
    grid:left;
        margin-top: 25px;
        margin-left: 0px;
        height: 50px;
        width: 50px;
        flex: left;
    }
    
    
._menu-open{
        grid:right;
        margin-top: 40px;
        margin-right: 0px;
        height: 20px;
        width: 20px;
        flex: right;
    }

.header {
        background-color: #A02F27;
        height: 100px;
        width: auto;
        display: grid;
        grid-template-columns: 0px 0px 0px;
	    justify-content: space-between;
        border: 3px solid #F0BB48;

    }

.article {
    background-color: #F0BB48;
	border: 3px solid #A02F27;
	height: 166px;
	width: auto;
	font-size:110%;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    text-align: right;
    
}

.imagearticle {
    text-align:left;
    margin-top: -0.5px;
    margin-left: -0.5px;
    height: 167px;
    max-width: 125px;  
}

.article--right {
    background-color: #A02F27;
	border: 3px solid #F0BB48;
	height: 166px;
	width: auto;
	font-size:110%;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    
    }
.imagearticle--right {
    margin-top: -0.5px;
    margin-right: -0.5px;
    height: 167px;
    max-width: 125px;
    
}

.footer {
	background-color: black;
	height: auto ;
	width: auto;
	color: white;
	font-size: auto;
    border: 3px solid white;
}

.lienContact {
    background-color: black;
    color: white;
    font-size: auto;
   
}

.lienApropos {
    background-color: black;
    color: white;
    font-size: auto;
}

.lienAutresprojets {
    background-color: black;
    color: white;
    font-size: auto;
}

.lienGlossaire {
    background-color: black;
    color: white;
    font-size: auto;
}

.lienMMi {
    background-color: black;
    color: white;
    font-size: auto;
}


